<% @recently_viewed_products = get_recently_viewed_products %>
<% if @recently_viewed_products.present? %>
  <div id="recently_viewed" data-hook>
    <h6 class="product-section-title"><%= Spree.t(:recently_viewed_products) %></h6>
    <ul id="recently_viewed_products">
      <% @recently_viewed_products.sort_by { |p| get_recently_viewed_products_ids.index(p.id) }.each do |product| %>
        <li><%= link_to product.name, product %></li>
      <% end %>
    </ul>
  </div>
<% end %>
